:root {
  --path-symbol-1: "/res/_fs/image/symbols-identity/action.svg#star";
}

/* LEFT MENU + CONTENT */
body {
  --width-layout: 1048px;
  --height-oneline: 35px;
  --width-rating: 52px;
  --width-service: 0;
  --width-logo: 23px;
}
body.isWide {
  --width-layout: 1188px;
}
body .american-football,
body .badminton,
body .baseball,
body .beach-volleyball,
body .darts,
body .cricket,
body .tennis,
body .table-tennis,
body .volleyball {
  --width-service: 19px;
}
body .american-football,
body .aussie-rules,
body .basketball,
body .floorball,
body .handball,
body .hockey,
body .kabaddi,
body .rugby-league,
body .rugby-union,
body .volleyball {
  --width-standings: 26px;
}
body .badminton,
body .bandy,
body .beach-soccer,
body .beach-volleyball,
body .esports,
body .field-hockey,
body .netball,
body .table-tennis,
body .tennis,
body .water-polo {
  --width-tv: 24px;
}
body.pid_12 {
  --width-logo: 0;
}
body .esports,
body .motorsport-moto-racing,
body .motorsport-auto-racing,
body .motorsport-moto-racing--speedway,
body .winter-sports,
body .winter-sports-ski-jumping,
body .winter-sports-biathlon,
body .winter-sports-cross-country,
body .winter-sports-alpine-skiing {
  --width-logo: 0;
}
body.myfs {
  --width-rating: 63px;
}
body.myfs .cycling,
body.myfs .golf,
body.myfs .horse-racing,
body.myfs .motorsport-moto-racing,
body.myfs .motorsport-auto-racing,
body.myfs .motorsport-moto-racing--speedway,
body.myfs .winter-sports-alpine-skiing,
body.myfs .winter-sports-cross-country,
body.myfs .winter-sports-biathlon,
body.myfs .winter-sports-ski-jumping {
  --width-rating: 66px;
}
body.myfs .badminton,
body.myfs .beach-volleyball,
body.myfs .boxing,
body.myfs .esports,
body.myfs .mma,
body.myfs .snooker,
body.myfs .table-tennis,
body.myfs .tennis,
body.myfs .darts,
body.myfs .motorsport-moto-racing,
body.myfs .motorsport-auto-racing,
body.myfs .motorsport-moto-racing--speedway,
body.myfs .winter-sports-ski-jumping,
body.myfs .winter-sports-biathlon,
body.myfs .winter-sports-cross-country,
body.myfs .winter-sports-alpine-skiing {
  --width-logo: 23px;
}
body.myfs.pid_12 .badminton,
body.myfs.pid_12 .beach-volleyball,
body.myfs.pid_12 .boxing,
body.myfs.pid_12 .esports,
body.myfs.pid_12 .mma,
body.myfs.pid_12 .snooker,
body.myfs.pid_12 .table-tennis,
body.myfs.pid_12 .tennis,
body.myfs.pid_12 .darts,
body.myfs.pid_12 .motorsport-moto-racing,
body.myfs.pid_12 .motorsport-auto-racing,
body.myfs.pid_12 .motorsport-moto-racing--speedway,
body.myfs.pid_12 .winter-sports-ski-jumping,
body.myfs.pid_12 .winter-sports-biathlon,
body.myfs.pid_12 .winter-sports-cross-country,
body.myfs.pid_12 .winter-sports-alpine-skiing {
  --width-logo: 0;
}
.event__match {
  --width-live: 46px;
}
@media only screen and (max-width: 639px) {
  .event__match {
    --width-live: 39px;
  }
}
.aussie-rules .event__match {
  --width-result: 100px;
}
.baseball .event__match {
  --width-live: 0;
  --width-cricket: 10px;
}
@media only screen and (max-width: 799px) {
  .baseball .event__match {
    --width-live: 46px;
    --width-cricket: 0;
  }
}
.cricket .event__match {
  --width-live: 0;
  --width-cricket: 10px;
}
@media only screen and (max-width: 639px) {
  .cricket .event__match--live,
  .cricket .event__match--scheduled {
    --width-live: 46px;
    --width-cricket: 0;
  }
}
.cricket .event__match--scheduled,
.cricket .event__match--live,
.baseball .event__match--scheduled,
.baseball .event__match--live {
  --width-live: 46px;
  --width-cricket: 0;
}
.event__match--mgDropdown {
  --width-dropdown: 32px;
}
@media only screen and (min-width: 799px) {
  .event__match--mgDropdown {
    --width-dropdown: 36px;
  }
}
.event .motorsport-moto-racing,
.event .motorsport-auto-racing {
  --width-team: 1fr;
  --width-time: 100px;
}
.event .winter-sports-alpine-skiing {
  --width-gap: 70px;
  --width-points1: 70px;
  --width-points2: 70px;
}
.event .winter-sports-cross-country {
  --width-gap: 70px;
}
.event .winter-sports-biathlon {
  --width-shooting: 70px;
  --width-gap: 70px;
}
.event .winter-sports-ski-jumping {
  --width-points1: 70px;
  --width-points2: 70px;
  --width-jump1: 70px;
  --width-jump2: 70px;
}
.event .winter-sports-ski-jumping--team {
  --width-jump2: 0;
}
@media only screen and (max-width: 799px) {
  .event .cricket {
    --width-stage: min-content;
  }
  .event .winter-sports-alpine-skiing,
  .event .winter-sports-cross-country {
    --width-points-winter: 60px;
  }
  .event .winter-sports-alpine-skiing {
    --width-points1: 0;
    --width-points2: 0;
  }
  .event .winter-sports-biathlon {
    --width-shooting: 40px;
    --width-gap: 0;
    --width-points-winter: 70px;
  }
  .event .winter-sports-ski-jumping {
    --width-jump1: 50px;
    --width-jump2: 50px;
    --width-points-winter: 50px;
  }
  .event .winter-sports-ski-jumping--team {
    --width-jump1: 50px;
    --width-jump2: 0;
    --width-points-winter: 50px;
  }
}
.pid_1:not(.tv-program-page) #rccontent {
  top: 14px;
  height: calc(100% - 72px);
  position: relative;
  width: 100%;
}

:root {
  --zIndex-scrollTo: 2;
  --zIndex-dropDown: 2;
  --zIndex-boxUnderContent: 3;
  --zIndex-boxOverContent: 4;
  --zIndex-langBoxModule: 5;
  --zIndex-langBox: 9;
  --zIndex-loading: 9;
  --zIndex-banner: 9;
  --zIndex-menuMinority: 10;
  --zIndex-lsid-dropDown: 10;
  --zIndex-contextMenu: 12;
  --zIndex-myGames-notification: 15;
  --zIndex-searchMask: 49;
  --zIndex-searchWindow: 50;
  --zIndex-modalMask: 99;
  --zIndex-modalWindow: 100;
  --zIndex-tooltip: 500;
  --zIndex-onetrust: 501;
}
:root #detail {
  --zIndex-boxOverContent: 10;
  --zIndex-fixedHeader: 20;
  --zIndex-modalWindow-2: 30;
}

